openapi: 3.2.0
info:
  title: All Quiet Public Webhooks API
  description: The All Quiet Public REST API lets you manage incident management and on-call resources programmatically.
  termsOfService: https://allquiet.app/legal/terms
  contact:
    name: All Quiet Support
    email: support@allquiet.app
  version: v1
servers:
- url: https://allquiet.app/api
  description: US region
- url: https://allquiet.eu/api
  description: EU region
security:
- ApiKeyHeader: []
- BearerAuth: []
tags:
- name: Webhooks
  description: Outbound integrations that forward incidents to third-party platforms.
paths:
  /public/v1/outbound-integration:
    post:
      tags:
      - Webhooks
      summary: Create an outbound integration
      description: Creates an outbound integration (e.g. generic webhook, Slack, Mattermost) that forwards incidents to a third-party platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundIntegrationCreateRequest'
      responses:
        '200':
          description: The created outbound integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundIntegration'
      operationId: postPublicV1OutboundIntegration
      x-operation-id-source: derived
  /public/v1/outbound-integration/{id}:
    get:
      tags:
      - Webhooks
      summary: Get an outbound integration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested outbound integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundIntegration'
      operationId: getPublicV1OutboundIntegrationById
      x-operation-id-source: derived
    put:
      tags:
      - Webhooks
      summary: Update an outbound integration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundIntegrationCreateRequest'
      responses:
        '200':
          description: The updated outbound integration.
      operationId: putPublicV1OutboundIntegrationById
      x-operation-id-source: derived
    delete:
      tags:
      - Webhooks
      summary: Delete an outbound integration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The outbound integration was deleted.
      operationId: deletePublicV1OutboundIntegrationById
      x-operation-id-source: derived
  /public/v1/outbound-integration/types:
    get:
      tags:
      - Webhooks
      summary: List outbound integration types
      responses:
        '200':
          description: The supported outbound integration types.
      operationId: getPublicV1OutboundIntegrationTypes
      x-operation-id-source: derived
components:
  schemas:
    OutboundIntegration:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        teamId:
          type: string
        type:
          type: string
    OutboundIntegrationCreateRequest:
      type: object
      required:
      - displayName
      - teamId
      - type
      properties:
        displayName:
          type: string
        teamId:
          type: string
        type:
          type: string
          description: Integration type, e.g. Webhook, Slack, Mattermost.
        triggersOnlyOnForwarded:
          type: boolean
        skipUpdatingAfterForwarding:
          type: boolean
        teamConnectionSettings:
          type: object
        slackSettings:
          type: object
        mattermostSettings:
          type: object
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Organization API key sent in the X-Api-Key header.
    BearerAuth:
      type: http
      scheme: bearer
      description: Organization API key sent as a Bearer token in the Authorization header.
