openapi: 3.2.0
info:
  title: All Quiet Public Incidents API
  description: The All Quiet Public REST API lets you manage incident management and on-call resources programmatically.
  termsOfService: https://allquiet.app/legal/terms
  contact:
    name: All Quiet Support
    email: support@allquiet.app
  version: v1
servers:
- url: https://allquiet.app/api
  description: US region
- url: https://allquiet.eu/api
  description: EU region
security:
- ApiKeyHeader: []
- BearerAuth: []
tags:
- name: Incidents
  description: Create, search, read, update, and delete incidents.
paths:
  /public/v1/incident:
    post:
      tags:
      - Incidents
      summary: Create an incident
      description: Creates a new incident with a title, severity, status, and optional team and user assignments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentCreateRequest'
      responses:
        '200':
          description: The created incident.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
      operationId: postPublicV1Incident
      x-operation-id-source: derived
  /public/v1/incident/search/list:
    get:
      tags:
      - Incidents
      summary: Search incidents
      description: Returns a paged list of incidents filtered by status, severity, team, user, integration, and time range.
      parameters:
      - name: Statuses
        in: query
        schema:
          type: array
          items:
            type: string
      - name: Severities
        in: query
        schema:
          type: array
          items:
            type: string
      - name: IntegrationIds
        in: query
        schema:
          type: array
          items:
            type: string
      - name: TeamIds
        in: query
        schema:
          type: array
          items:
            type: string
      - name: UserIds
        in: query
        schema:
          type: array
          items:
            type: string
      - name: SearchTerm
        in: query
        schema:
          type: string
      - name: IsArchived
        in: query
        schema:
          type: boolean
      - name: CreatedFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: CreatedUntil
        in: query
        schema:
          type: string
          format: date-time
      - name: Limit
        in: query
        schema:
          type: integer
      - name: Offset
        in: query
        schema:
          type: integer
      - name: SortBy
        in: query
        schema:
          type: string
      - name: Asc
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: A paged list of incidents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Incident'
      operationId: getPublicV1IncidentSearchList
      x-operation-id-source: derived
  /public/v1/incident/search/{incidentId}:
    get:
      tags:
      - Incidents
      summary: Get an incident
      parameters:
      - name: incidentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested incident.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
      operationId: getPublicV1IncidentSearchByIncidentId
      x-operation-id-source: derived
  /public/v1/incident/search/{incidentId}/markdown:
    get:
      tags:
      - Incidents
      summary: Get an incident as Markdown
      parameters:
      - name: incidentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A Markdown rendering of the incident.
          content:
            text/markdown:
              schema:
                type: string
      operationId: getPublicV1IncidentSearchByIncidentIdMarkdown
      x-operation-id-source: derived
  /public/v1/incident/{incidentId}:
    patch:
      tags:
      - Incidents
      summary: Update an incident
      description: Applies a list of patch operations (e.g. change status, severity, assignments) to an incident.
      parameters:
      - name: incidentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentPatchRequest'
      responses:
        '200':
          description: The updated incident.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
      operationId: patchPublicV1IncidentByIncidentId
      x-operation-id-source: derived
    delete:
      tags:
      - Incidents
      summary: Delete an incident
      parameters:
      - name: incidentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The incident was deleted.
      operationId: deletePublicV1IncidentByIncidentId
      x-operation-id-source: derived
components:
  schemas:
    Incident:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
        severity:
          type: string
        teamIds:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
    IncidentPatchRequest:
      type: object
      required:
      - operations
      properties:
        operations:
          type: array
          description: A list of patch operations to apply to the incident.
          items:
            type: object
    IncidentCreateRequest:
      type: object
      required:
      - title
      - severity
      - status
      properties:
        title:
          type: string
        message:
          type: string
        messageIsPublic:
          type: boolean
        integrationId:
          type: string
        teamIds:
          type: array
          items:
            type: string
        status:
          type: string
          description: Incident status, e.g. Open, Resolved.
        severity:
          type: string
          description: Incident severity, e.g. Critical, Warning, Minor.
        serviceIds:
          type: array
          items:
            type: string
        excludeFromUptimeCalculation:
          type: boolean
        userAssignments:
          type: array
          items:
            type: object
        attributes:
          type: array
          items:
            type: object
        publicComment:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Organization API key sent in the X-Api-Key header.
    BearerAuth:
      type: http
      scheme: bearer
      description: Organization API key sent as a Bearer token in the Authorization header.
