openapi: 3.0.1
info:
  title: All Quiet Public Inbound Integrations Webhooks API
  description: 'The All Quiet Public REST API lets you manage incident management and on-call resources programmatically. It is available in the US (https://allquiet.app/api) and EU (https://allquiet.eu/api) regions and requires a Pro or Enterprise plan. Authenticate with an organization API key sent either as an `X-Api-Key` header or as a `Authorization: Bearer` token. This document captures the documented Incidents, Inbound Integrations, Teams, On-Call Schedules, and Webhooks (outbound integrations) surfaces of the public v1 API.'
  termsOfService: https://allquiet.app/legal/terms
  contact:
    name: All Quiet Support
    email: support@allquiet.app
  version: v1
servers:
- url: https://allquiet.app/api
  description: US region
- url: https://allquiet.eu/api
  description: EU region
security:
- ApiKeyHeader: []
- BearerAuth: []
tags:
- name: Webhooks
  description: Outbound integrations that forward incidents to third-party platforms.
paths:
  /public/v1/outbound-integration:
    post:
      tags:
      - Webhooks
      summary: Create an outbound integration
      description: Creates an outbound integration (e.g. generic webhook, Slack, Mattermost) that forwards incidents to a third-party platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundIntegrationCreateRequest'
      responses:
        '200':
          description: The created outbound integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundIntegration'
  /public/v1/outbound-integration/{id}:
    get:
      tags:
      - Webhooks
      summary: Get an outbound integration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested outbound integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundIntegration'
    put:
      tags:
      - Webhooks
      summary: Update an outbound integration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundIntegrationCreateRequest'
      responses:
        '200':
          description: The updated outbound integration.
    delete:
      tags:
      - Webhooks
      summary: Delete an outbound integration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The outbound integration was deleted.
  /public/v1/outbound-integration/types:
    get:
      tags:
      - Webhooks
      summary: List outbound integration types
      responses:
        '200':
          description: The supported outbound integration types.
components:
  schemas:
    OutboundIntegration:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        teamId:
          type: string
        type:
          type: string
    OutboundIntegrationCreateRequest:
      type: object
      required:
      - displayName
      - teamId
      - type
      properties:
        displayName:
          type: string
        teamId:
          type: string
        type:
          type: string
          description: Integration type, e.g. Webhook, Slack, Mattermost.
        triggersOnlyOnForwarded:
          type: boolean
        skipUpdatingAfterForwarding:
          type: boolean
        teamConnectionSettings:
          type: object
        slackSettings:
          type: object
        mattermostSettings:
          type: object
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Organization API key sent in the X-Api-Key header.
    BearerAuth:
      type: http
      scheme: bearer
      description: Organization API key sent as a Bearer token in the Authorization header.
