openapi: 3.2.0
info:
  title: All Quiet Public Teams API
  description: The All Quiet Public REST API lets you manage incident management and on-call resources programmatically.
  termsOfService: https://allquiet.app/legal/terms
  contact:
    name: All Quiet Support
    email: support@allquiet.app
  version: v1
servers:
- url: https://allquiet.app/api
  description: US region
- url: https://allquiet.eu/api
  description: EU region
security:
- ApiKeyHeader: []
- BearerAuth: []
tags:
- name: Teams
  description: Teams, team membership, and organization membership (users).
paths:
  /public/v1/team:
    post:
      tags:
      - Teams
      summary: Create a team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamRequest'
      responses:
        '200':
          description: The created team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
      operationId: postPublicV1Team
      x-operation-id-source: derived
  /public/v1/team/{id}:
    get:
      tags:
      - Teams
      summary: Get a team
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
      operationId: getPublicV1TeamById
      x-operation-id-source: derived
    put:
      tags:
      - Teams
      summary: Update a team
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamRequest'
      responses:
        '200':
          description: The updated team.
      operationId: putPublicV1TeamById
      x-operation-id-source: derived
    delete:
      tags:
      - Teams
      summary: Delete a team
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The team was deleted.
      operationId: deletePublicV1TeamById
      x-operation-id-source: derived
  /public/v1/team/search/list:
    get:
      tags:
      - Teams
      summary: Search teams
      responses:
        '200':
          description: A list of teams.
      operationId: getPublicV1TeamSearchList
      x-operation-id-source: derived
  /public/v1/team-membership:
    post:
      tags:
      - Teams
      summary: Add a team membership
      responses:
        '200':
          description: The created team membership.
      operationId: postPublicV1TeamMembership
      x-operation-id-source: derived
  /public/v1/organization-membership:
    post:
      tags:
      - Teams
      summary: Add an organization membership (user)
      responses:
        '200':
          description: The created organization membership.
      operationId: postPublicV1OrganizationMembership
      x-operation-id-source: derived
  /public/v1/user:
    post:
      tags:
      - Teams
      summary: Create a user
      responses:
        '200':
          description: The created user.
      operationId: postPublicV1User
      x-operation-id-source: derived
components:
  schemas:
    Team:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        timeZoneId:
          type: string
    TeamRequest:
      type: object
      required:
      - displayName
      - timeZoneId
      properties:
        displayName:
          type: string
        timeZoneId:
          type: string
        labels:
          type: array
          items:
            type: string
        incidentEngagementReportSettings:
          type: object
        calendarPublishingSettings:
          type: object
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Organization API key sent in the X-Api-Key header.
    BearerAuth:
      type: http
      scheme: bearer
      description: Organization API key sent as a Bearer token in the Authorization header.
